<#assign ctx = request.contextPath />
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="${ctx}/static/js/layui/css/layui.css" />
    <link rel="stylesheet" href="${ctx}/static/css/index.css" />
    <link rel="stylesheet" href="${ctx}/static/js/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>

<body>
<div class="layui-container">
    <div class="layui-row">
        <ul class="layui-nav layui-bg-black">
            <li class="layui-nav-item">
                <a href="javascript:void(0)">首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:void(0)">代码</a>
            </li>
            <li style="width: 400px;" class="layui-inline">
                <div class="layui-inline layui-bg-black">
                    <input type="text" name="keyword" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline layui-bg-black">
                    <button class="layui-btn layui-btn-normal">搜索</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs2">
            <div style="margin-bottom: 10px;">
                <div class="layui-inline"><img width="48px" height="48px" src="http://cdn.layui.com/avatar/168.jpg?t=1490352249902" class="layui-circle"></div>
                <div class="layui-inline">
                    <span style="font-size: large;font-family: Consolas;font-weight: 200">陈志宇 的博客</span><br>
                    <span style="font-size: small;font-weight: 100">文章数：</span><br>
                    <span style="font-size: small;font-weight: 100">评论数：</span>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header layui-bg-blue">关于作者</div>
                <div class="layui-card-body" style="padding: 0px">
                    <blockquote class="layui-elem-quote layui-quote-nm">
                        程序猿一枚咯
                    </blockquote>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header layui-bg-blue">文章分类</div>
                <div class="layui-card-body" style="padding: 0px">
                    <blockquote class="layui-elem-quote layui-quote-nm">
                        <div style="padding-bottom: 5px;">
                            <h5><a href="https://www.baidu.com" target="_blank" style="color: #007DDB"><u>阿斯利的看法阿克苏地方</u></a></h5>
                        </div>
                        <div style="padding-bottom: 5px;">
                            <h5><a href="https://www.baidu.com" target="_blank" style="color: #007DDB"><u>啊收到阿萨德刻个百度一下</u></a></h5>
                        </div>
                        <div style="padding-bottom: 5px;">
                            <h5><a href="https://www.baidu.com" target="_blank" style="color: #007DDB"><u>百阿萨德阿萨度一下</u></a></h5>
                        </div>
                        <div>
                            <h5><a href="https://www.baidu.com" target="_blank" style="color: #007DDB"><u>杜阿斯蒂芬度一旦法下</u></a></h5>
                        </div>
                    </blockquote>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header layui-bg-blue">归档</div>
                <div class="layui-card-body" style="padding: 0px">
                    <blockquote class="layui-elem-quote layui-quote-nm">
                        <ul id="timeTree" class="ztree"></ul>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="layui-col-xs7">
            <div class="layui-carousel" id="lunbo">
                <div carousel-item="">
                    <div><a href="http://www.baidu.com" target="_blank"><img src="${ctx}/static/imgs/1.jpg"></a></div>
                    <div><img src="${ctx}/static/imgs/2.jpg"></div>
                    <div><img src="${ctx}/static/imgs/3.jpg"></div>
                    <div><img src="${ctx}/static/imgs/4.jpg"></div>
                    <div><img src="${ctx}/static/imgs/5.jpg"></div>
                    <div><img src="${ctx}/static/imgs/6.jpg"></div>
                </div>
            </div>

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;margin-bottom: 0px;">
                <legend>文章推荐</legend>
            </fieldset>
            <hr class="layui-bg-red">

            <#list aList as list>
                <div>
                    <div class="layui-inline" style="width: 15%;">
                        <a href="blog/blog_detail.html" target="_blank"><img src="http://cdn.layui.com/avatar/168.jpg?t=1490352249902"></a>
                    </div>
                    <div class="layui-inline" style="width: 75%; margin-left: 10px">
                        <a href="${ctx}/article/detail/${list.id}.html" target="_blank"><h2 style="margin-bottom: 10px;">${list.title}</h2></a>
                        <div style="margin-bottom: 10px;margin-top: 10px;">${list.content}</div>
                        <div style="margin-top: 5px;">
                            <div class="layui-inline" style="padding-left: 10px;padding-right: 200px;">
                                <i class="layui-icon" style="font-size: 15px; color: #1E9FFF;">&#xe60e;</i>&nbsp;${list.startTime!""}
                            </div>
                            <div class="layui-inline">
                                <i class="layui-icon" style="font-size: 15px; color: #FFB800;">&#xe63a;</i>&nbsp;评论&nbsp;&nbsp;
                                <i class="layui-icon" style="font-size: 15px; color: #01AAED;">&#xe705;</i>&nbsp;浏览(${list.viewCount!0})&nbsp;&nbsp;
                                <i onclick="likeClick(${list.id})" class="layui-icon" style="font-size: 15px; color: #FF5722;">&#xe6c6;</i>&nbsp;
                                点赞(<span id="like_${list.id}">${list.likeCount!0}</span>)
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="layui-bg-green">
            </#list>
        </div>
        <div class="layui-col-xs3">
            <div id="calendar"></div>
            <div class="layui-tab layui-tab-brief" lay-filter="tab_instrest">
                <ul class="layui-tab-title">
                    <li class="layui-this">点击排行</li>
                    <li>最新文章</li>
                </ul>
                <div class="layui-tab-content" style="height: 135px;">
                    <div class="layui-tab-item layui-show">
                        <div>
                            <#list cList as list>
                                <div>
                                    <div class="layui-inline" style="width: 15%;">
                                        <#if list_index==0><span class="layui-badge layui-bg-red">1</span>
                                            <#elseif list_index==1><span class="layui-badge">2</span>
                                            <#elseif list_index==2><span class="layui-badge layui-bg-orange">3</span>
                                            <#elseif list_index==3><span class="layui-badge layui-bg-cyan">4</span>
                                            <#else><span class="layui-badge layui-bg-cyan">5</span>
                                        </#if>
                                    </div>
                                    <div class="layui-inline" style="width: 75%;">
                                        <h3 style="margin-bottom: 10px;"><a href="${ctx}/article/detail/${list.id}.html" target="_blank">${list.title}</a></h3>
                                    </div>
                                </div>
                                <hr class="layui-bg-gray" style="margin: 0px;">
                            </#list>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div>
                            <#list tList as list>
                                <div>
                                    <div class="layui-inline" style="width: 15%;">
                                        <#if list_index==0><span class="layui-badge layui-bg-red">1</span>
                                            <#elseif list_index==1><span class="layui-badge">2</span>
                                            <#elseif list_index==2><span class="layui-badge layui-bg-orange">3</span>
                                            <#elseif list_index==3><span class="layui-badge layui-bg-cyan">4</span>
                                            <#else><span class="layui-badge layui-bg-cyan">5</span>
                                        </#if>
                                    </div>
                                    <div class="layui-inline" style="width: 75%;">
                                        <h3 style="margin-bottom: 10px;"><a href="${ctx}/article/detail/${list.id}.html" target="_blank">${list.title}</a></h3>
                                    </div>
                                </div>
                                <hr class="layui-bg-gray" style="margin: 0px;">
                            </#list>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;margin-bottom: 0px;">
                <legend>标签</legend>
            </fieldset>
            <div style="margin-top:5px ;">
                <#list labelList as label>
                    <#if label_index%3==0><span class="layui-badge layui-bg-orange"><a target="_blank" href="#">${label.label}</a></span>
                    <#elseif label_index%4==0><span class="layui-badge layui-bg-green"><a target="_blank" href="#">${label.label}</a></span>
                    <#elseif label_index%5==0><span class="layui-badge layui-bg-green"><a target="_blank" href="#">${label.label}</a></span>
                    <#elseif label_index%6==0><span class="layui-badge layui-bg-blue"><a target="_blank" href="#">${label.label}</a></span>
                    <#elseif label_index%7==0><span class="layui-badge layui-bg-blue"><a target="_blank" href="#">${label.label}</a></span>
                    <#elseif label_index%8==0><span class="layui-badge layui-bg-gray"><a target="_blank" href="#">${label.label}</a></span>
                    <#else><span class="layui-badge"><a target="_blank" href="#">${label.label}</a></span>
                    </#if>
                </#list>
            </div>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;margin-bottom: 0px;">
                <legend>图文推荐</legend>
            </fieldset>

            <div>
                <#list lList as list>
                    <div style="margin-top: 5px;">
                        <div class="layui-inline" style="width: 15%;">
                            <img width="30px" height="30px" src="http://cdn.layui.com/avatar/168.jpg?t=1490352249902">
                        </div>
                        <div class="layui-inline" style="width: 75%;">
                            <h4 style="margin-bottom: 2px;color: blue;">${list.title}</h4>
                            <div style="margin-top: 2px;">
                                <div class="layui-inline">
                                    <i class="layui-icon" style="font-size: 15px; color: #1E9FFF;">&#xe60e;</i>&nbsp;${list.startTime!''}
                                </div>
                            </div>
                        </div>
                    </div>
                </#list>
            </div>
        </div>
    </div>
</div>
</body>

<script src="${ctx}/static/js/jquery-3.3.1.min.js"></script>
<script src="${ctx}/static/js/layui/layui.all.js"></script>
<script src="${ctx}/static/js/index.js"></script>
<script type="text/javascript" src="${ctx}/static/js/zTree/js/jquery.ztree.core.js"></script>
<script>
    var onload = window.onload;
    if(typeof onload == "function") {
        onload();
        window.onload = function(){
            $("#lunbo img").width($(".layui-col-xs7").width());
            $("#lunbo img").height(350);
        }
    }

    layui.use('carousel', function() {
        var carousel = layui.carousel;

        //图片轮播
        carousel.render({
            elem: '#lunbo',
            width: $(".layui-col-xs7").width()+100,
            height: '350px',
            interval: 5000
        });
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        laydate.render({
            elem: '#calendar', //指定元素
            position: 'static',
            showBottom: false,
            theme: '#393D49',
            calendar: true
        });
    });

    function likeClick(id){
        $.post('${ctx}/article/like/'+id+".do",{},function (result) {
            if (result && result.status == 0) {
//                console.log($("#like_"+id).text());
                $("#like_"+id).text(Number($("#like_"+id).text()) + 1);
            }
        });
    }
</script>
<script type="text/javascript">
    <!--
    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        },
        callback:{
            onClick:function (e,node) {
                console.log(e);
                console.log(node);
            }
        }
    };

    var zNodes =[
        { id:1, pId:0, name:"2018年", open:true},
        { id:11, pId:1, name:"05月"},
        { id:111, pId:11, name:"01号"},
        { id:112, pId:11, name:"02号"},
        { id:12, pId:1, name:"04月"},
        { id:121, pId:12, name:"03号"},
        { id:122, pId:12, name:"04号"},
        { id:13, pId:1, name:"03月", isParent:true},
        { id:2, pId:0, name:"2017年"},
        { id:21, pId:2, name:"01月", open:true},
        { id:211, pId:21, name:"07号"},
        { id:22, pId:2, name:"02月"},
        { id:23, pId:2, name:"03月"},
        { id:231, pId:23, name:"23号"},
        { id:232, pId:23, name:"12号"},
        { id:233, pId:23, name:"07号"},
        { id:234, pId:23, name:"09号"},
        { id:3, pId:0, name:"2016年", isParent:true}
    ];

    $(document).ready(function(){
        $.fn.zTree.init($("#timeTree"), setting, zNodes);
    });
</script>
</html>