<link rel="stylesheet" href="${ctx}/static/js/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
        <div class="layui-col-xs2">
            <div style="margin-bottom: 10px;">
                <div class="layui-inline"><img width="48px" height="48px" src="${ctx}/static/imgs/img.jpg" class="layui-circle"></div>
                <div class="layui-inline">
                    <span style="font-size: large;font-family: Consolas;font-weight: 200">陳のyu 的博客</span><br>
                    <span style="font-size: small;font-weight: 100">文章数：</span><br>
                    <span style="font-size: small;font-weight: 100">评论数：</span>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header layui-bg-blue">关于作者</div>
                <div class="layui-card-body" style="padding: 0px">
                    <blockquote class="layui-elem-quote layui-quote-nm">
                        程序猿一枚咯
                    </blockquote>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header layui-bg-blue">文章分类</div>
                <div class="layui-card-body" style="padding: 0px">
                    <blockquote class="layui-elem-quote layui-quote-nm">
                        <div style="padding-bottom: 5px;">
                            <h5><a href="https://www.baidu.com" target="_blank" style="color: #007DDB"><u>阿斯利的看法阿克苏地方</u></a></h5>
                        </div>
                        <div style="padding-bottom: 5px;">
                            <h5><a href="https://www.baidu.com" target="_blank" style="color: #007DDB"><u>啊收到阿萨德刻个百度一下</u></a></h5>
                        </div>
                        <div style="padding-bottom: 5px;">
                            <h5><a href="https://www.baidu.com" target="_blank" style="color: #007DDB"><u>百阿萨德阿萨度一下</u></a></h5>
                        </div>
                        <div>
                            <h5><a href="https://www.baidu.com" target="_blank" style="color: #007DDB"><u>杜阿斯蒂芬度一旦法下</u></a></h5>
                        </div>
                    </blockquote>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header layui-bg-blue">归档</div>
                <div class="layui-card-body" style="padding: 0px">
                    <blockquote class="layui-elem-quote layui-quote-nm">
                        <ul id="timeTree" class="ztree"></ul>
                    </blockquote>
                </div>
            </div>
        </div>
<script type="text/javascript" src="${ctx}/static/js/zTree/js/jquery.ztree.core.js"></script>
<script type="text/javascript">
    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        },
        callback:{
            onClick:function (event,id,node) {
                console.log(event);
                console.log(id);
                console.log(node);
            }
        }
    };

    var zNodes =[
        { id:1, pId:0, name:"2018年", open:true},
        { id:11, pId:1, name:"05月"},
        { id:111, pId:11, name:"01号"},
        { id:112, pId:11, name:"02号"},
        { id:12, pId:1, name:"04月"},
        { id:121, pId:12, name:"03号"},
        { id:122, pId:12, name:"04号"},
        { id:13, pId:1, name:"03月", isParent:true},
        { id:2, pId:0, name:"2017年"},
        { id:21, pId:2, name:"01月", open:true},
        { id:211, pId:21, name:"07号"},
        { id:22, pId:2, name:"02月"},
        { id:23, pId:2, name:"03月"},
        { id:231, pId:23, name:"23号"},
        { id:232, pId:23, name:"12号"},
        { id:233, pId:23, name:"07号"},
        { id:234, pId:23, name:"09号"},
        { id:3, pId:0, name:"2016年", isParent:true}
    ];

    $(document).ready(function(){
        $.fn.zTree.init($("#timeTree"), setting, zNodes);
        $(".layui-nav .layui-nav-item:eq(0)").addClass("layui-this");
    });
</script>